<style>
    p {
      color: blue;
      font-size: 20px;
    }
    #spanID {
      color: green;
      margin: 50px;
    }
    #ThirdDiv {
        height: 600px;
        width: 500px;
        background-color: azure;
        padding: 50px;
        border-width: 2cm;
    border-color: black;}
        
</style>